# Segmenting and Clustering Neighborhoods in Toronto

### Importing important libraries

In [4]:
import pandas as pd
import numpy as np
import geocoder

### Getting Data

In [79]:
df =pd.read_csv('data.csv')
df1 = df[df['Borough']!= 'Not assigned'].reset_index(drop=True)
df1 = df1.sort_values('Postal Code')

In [83]:
df1.head(10)

   Postal Code      Borough                                    Neighbourhood
6          M1B  Scarborough                                   Malvern, Rouge
12         M1C  Scarborough           Rouge Hill, Port Union, Highland Creek
18         M1E  Scarborough                Guildwood, Morningside, West Hill
22         M1G  Scarborough                                           Woburn
26         M1H  Scarborough                                        Cedarbrae
32         M1J  Scarborough                              Scarborough Village
38         M1K  Scarborough      Kennedy Park, Ionview, East Birchmount Park
44         M1L  Scarborough                  Golden Mile, Clairlea, Oakridge
51         M1M  Scarborough  Cliffside, Cliffcrest, Scarborough Village West
58         M1N  Scarborough                      Birch Cliff, Cliffside West

### Getting Coordinates

Since the geocoder package was not working I'm using the Coordinates CSV file provided.

In [54]:
coordinates = pd.read_csv('Geospatial_Coordinates.csv')

In [81]:
coordinates = coordinates.sort_values('Postal Code')

In [84]:
coordinates.head(10)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476
5         M1J  43.744734 -79.239476
6         M1K  43.727929 -79.262029
7         M1L  43.711112 -79.284577
8         M1M  43.716316 -79.239476
9         M1N  43.692657 -79.264848

### Adding Coordinates to the main DataFrame

In [85]:
df1['Latitude'] = coordinates['Latitude']
df1['Longitude'] = coordinates['Longitude']

In [90]:
df1.reset_index(drop=True,inplace= True)

In [91]:
df1.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.727929,-79.262029
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.794200,-79.262029
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.778517,-79.346556
3,M1G,Scarborough,Woburn,43.770120,-79.408493
4,M1H,Scarborough,Cedarbrae,43.745906,-79.352188