# Welcome To Data Science Capstone

## This notebook will be mainly used for a Data Science Capstone Project.

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

# Segmenting and Clustering Neighborhoods in Toronto

### Importing Data from the csv file. Tool used to create the CSV file [Link](https://www.convertcsv.com/html-table-to-csv.htm)

In [59]:
df =pd.read_csv('data.csv')

### Dataframe with three Columns: PostalCode, Borough, and Neighborhood

In [60]:
print(df.shape)
df.head()

(180, 3)

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

### Ignoring cells with a borough that are Not assigned

In [63]:
df1 = df[df['Borough']!= 'Not assigned'].reset_index(drop=True)

In [64]:
print(df1.shape)
df1.head()

(103, 3)

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

### More than one neighborhood can exist in one postal code area.

* Wikipedia Table was already updated according to the above question.

### If a cell has a borough but a Not assigned  neighborhood, then the neighborhood will be the same as the borough

Total number of `values = Not assigned` in `df['Neighbourhood']` are equal to `df['Borough']` which is 77.

In [68]:
df['Neighbourhood'].value_counts()

Not assigned                                                                                                  77
Downsview                                                                                                      4
Don Mills                                                                                                      2
CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport     1
York Mills West                                                                                                1
                                                                                                              ..
Bathurst Manor, Wilson Heights, Downsview North                                                                1
Central Bay Street                                                                                             1
Thorncliffe Park                                                                                               1
Glencairn                                                                                                      1
Kensington Market, Chinatown, Grange Park                                                                      1
Name: Neighbourhood, Length: 100, dtype: int64

In [67]:
df['Borough'].value_counts()

Not assigned        77
North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
East York            5
East Toronto         5
York                 5
Mississauga          1
Name: Borough, dtype: int64

In [70]:
df1.shape

(103, 3)